/CaptchaException.class
/CaptchaFormAuthenticationFilter.class
/CaptchaUsernamePasswordToken.class
/SystemAuthorizingRealm$1.class
/SystemAuthorizingRealm$Principal.class
/SystemAuthorizingRealm.class
